/*Stylesheet for Lab 4, Responsive Design*/
/*Steven Manwaring*/


/*If width is greater than 1200 pixels*/
.homer {
	position: relative;
	width: 166.5px;
	height: 125px;
	background-image: url(homer.jpg); /*Image size: 333X500px*/
}

@media screen and (min-width: 1200px) {
	.homer{
		background-position:  0px 0px; /*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Images/Implementing_image_sprites_in_CSS*/
	}
}

/*If width is greater than 1100 pixels but less than or equal to 1200 pixels*/
@media screen and (min-width: 1100px) and (max-width: 1200px) {
	.homer {	
		background-position: 166.5px 0px;
	}
}

/*If width is greater than 1000 pixels but less than or equal to 1100 pixels*/
@media screen and (min-width: 1000px) and (max-width: 1100px) {
	.homer {
		background-position: 0px -125px; 
	}
}

/*If width is greater than 900 pixels but less than or equal to 1000 pixels*/
@media screen and (min-width: 900px) and (max-width: 1000px) {
	.homer {
		background-position: 166.5px -125px; 
	}
}

/*If width is greater than 800 pixels but less than or equal to 900 pixels*/
@media screen and (min-width: 800px) and (max-width: 900px) {
	.homer {
		background-position: 0px -250px; 
	}
}

/*If width is greater than 700 pixels but less than or equal to 800 pixels*/
@media screen and (min-width: 700px) and (max-width: 800px) {
	.homer {
		background-position: 166.5px -250px; 
	}
}

/*If width is greater than 600 pixels but less than or equal to 700 pixels*/
@media screen and (min-width: 600px) and (max-width: 700px) {
	.homer {
		background-position: 0px -375px; 
	}
}

/*If screen width less than or equals to 600 pixels*/
@media screen and (max-width: 600px) {
	.homer {
		background-position: 166.5px -375px; 
	}
}

